h1{
    font-family:'Montserrat';
    font-size:3.5rem;
    line-height: 1.5;
    color:white;
    font-weight:900;
    text-align:left;   
}
body
{
    font-family:'montserrat';
    text-align:center;

}
.container-fluid
{
  padding:2% 15% 7%;

}
.row
{
    padding-top:30px;
}
.colored-section
{
 background-color:#ff4c68;;
}
.white-section
{
    background-color: white;
}

/* navigation bar */
.navbar
{
    padding-top:5px;
    padding-left:0;
    padding-bottom:4.5rem;
}

.navbar-brand
{
    font-family:'ubuntu';
    font-size:40px;
}
.nav-item
{
    padding:0 19px;
}
.nav-link
{
    font-size:20px;
    font-family:'montserrat';
    font-weight:500;
}

/* Download Buttons */
.download-button
{
    margin-top:5%;
}
/* title image */
.title-image
{
    width:50%;
    transform: rotate(25deg);
    position: absolute; 
    left:20%;    
}
/* features */

#features
{
    padding:3% 10%;
    position: relative;
        
}

h3{
    font-family:'montserrat';
    font-weight:bold;
    padding:0.5rem 0 0.2rem 0;
    
}

p
{
    color:#8f8f8f;
    }
#emoji
{
    margin-bottom:1%;
    color:#ef8172;
}

#emoji :hover
{
    color:#ff4c68;
}
.feature-box
{
   margin:50px 0 50px 0;
   padding:5%;
}

/* Testimonials */
#testimonials
{
   background-color:#ef8172 ;
   color:white;
   padding:4% 9% 4% 9%;
   
}
.testimonial-header
{
    padding:5% 9% 2% 9%;
    font-family: 'montserrat';
    font-weight:700;
    line-height:3rem;
    font-size:40px;
    
}
.testimonial-img
{
    width:10%;
    border-radius:100%;
    
}
.carousel-control-prev .carousel-control-next
{
    margin-left:0;
    margin-right:0;
}

/* press */
#press
{
    background-color:#ef8172 ;
    padding-bottom:3%;
}
.press-img
{
    width:15%;
    margin-right:5%;
}

/* pricing */
#pricing
{ 
    padding:5%;
}

.pricing-header
{
    font-size:50px;
    font-weight:400;
}
.pricing-column
{
    padding:2% 3% 2% 3%;
}

/* Call to Action */

#cta{
    padding:2% 20%;
}
.h3cta
{
    font-family: 'Montserrat';
    font-weight:600;
    color:white;
    font-size: 3.5rem;
    line-height:1.5;
   
}
.btncta
{
margin:1%;

}

/* Footer */
.footerp
{
    margin:1% 1.5%;
    color:black;
}

      /* Responsiveness */

@media (max-width: 1201px) 
{
    .title-image
    {
        transform:rotate(0);
        position:static;

    }
    #title
    {
        text-align:center;
    }
    
}





   


